name: Scrape Content

on:
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * *" # Runs daily

  
jobs:
  scrape-content:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Set Up Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.10.16

      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements_github_actions.txt

      - name: Set up Spanish locale
        run: |
          sudo apt-get update
          sudo apt-get install -y locales
          sudo locale-gen es_ES.UTF-8
          export LANG=es_ES.UTF-8
          export LANGUAGE=es_ES:es
          export LC_ALL=es_ES.UTF-8

      - name: Run Scraper
        env:
          MONGODB_URI: ${{ secrets.MONGODB_URI }}
        run: |
          python daily_scraper.py

# Reactivated on 2025-08-31
# Reactivated on 2026-02-15